<section class="border rounded-3xl">
  <div class="container md:px-6 md:py-12 mx-auto border-l-cyan-600">
    <h1 class="text-2xl font-semibold text-gray-800">Materia: {{ subject }}</h1>

    <div class="mt-8 space-y-8 lg:mt-12">
      <div *ngFor="let quiz of quizList" class="p-8 rounded-lg bg-blue-500">
        <h2 class="text-xl font-semibold text-gray-700 dark:text-white mb-4">
          {{ quiz.topic }}
        </h2>

        <div
          *ngFor="let question of quiz.questions; let i = index"
          class="mb-6 p-4 rounded-lg bg-blue-400"
        >
          <h3 class="font-semibold text-gray-100 mb-2">
            {{ question.question }}
          </h3>
          <div class="list-disc flex flex-wrap gap-3 ml-6 mb-2">
            <button
              *ngFor="let option of question.options"
              class="bg-white hover:bg-blue-500 text-blue-700 font-semibold hover:text-white py-2 px-4 border border-blue-500 hover:border-transparent rounded"
              [ngClass]="{
                'bg-green-500 text-white':
                  selectedOptions[i] === option &&
                  option === question.correct_answer,
                'bg-red-500 text-white':
                  selectedOptions[i] === option &&
                  option !== question.correct_answer,
                'bg-white text-blue-700': selectedOptions[i] !== option
              }"
              (click)="selectOption(option, i)"
            >
              {{ option }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
