<div class="w-full flex flex-wrap">
  <div class="w-full md:w-1/2 flex flex-col">
    <div
      class="flex justify-center md:justify-start pt-12 md:pl-12 md:-mb-11 md:pb-20"
    >
      <a
        href="/"
        class="text-black font-bold text-lg flex flex-row items-center gap-1"
      >
        <img
          src="../../../../assets/images/logo/logo.svg"
          alt="logo"
          class="h-12 mr-4"
        />
        <p class="md:text-4xl">Adapti<span class="text-primary">Learn</span></p>
      </a>
    </div>

    <div
      class="flex flex-col justify-center md:justify-start my-auto pt-8 md:pt-0 px-8 md:px-24 lg:px-32"
    >
      <p class="text-primary font-semibold text-center text-3xl">
        Crea tu cuenta
      </p>
      <form
        class="flex flex-col pt-3 md:pt-8"
        (ngSubmit)="onSubmit()"
        [formGroup]="registerForm"
      >
        <div class="flex flex-col pt-4">
          <label for="name" class="text-lg">Nombre</label>
          <input
            type="text"
            id="name"
            formControlName="names"
            placeholder="John Smith"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
          />
          <div
            class="text-red-500"
            *ngIf="
              registerForm.get('names')?.hasError('required') &&
              registerForm.get('names')?.touched
            "
          >
            El nombre del usuario es obligatorio.
          </div>
        </div>

        <div class="flex flex-col pt-4">
          <label for="email" class="text-lg">Email</label>
          <input
            type="email"
            id="email"
            formControlName="email"
            placeholder="your@email.com"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
          />
          <div
            class="text-red-500"
            *ngIf="
              registerForm.get('email')?.hasError('required') &&
              registerForm.get('email')?.touched
            "
          >
            El email del usuario es obligatorio.
          </div>
          <div
            class="text-red-500"
            *ngIf="
              registerForm.get('email')?.hasError('email') &&
              registerForm.get('email')?.touched
            "
          >
            El formato del email es incorrecto.
          </div>
        </div>

        <div class="flex flex-col pt-4">
          <label for="course" class="text-lg">Curso</label>
          <select
            id="course"
            formControlName="courseName"
            class="bg-gray-50 border text-gray-400 text-base rounded-lg block w-full p-2.5 focus:ring-blue-500 focus:border-blue-500"
          >
            <option selected>Selecciona Un Curso</option>
            <option *ngFor="let course of courses" [value]="course.courseName">
              {{ course.courseName }}
            </option>
          </select>
        </div>

        <div class="flex flex-col pt-4">
          <label for="password" class="text-lg">Contraseña</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            placeholder="Contraseña"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
          />
          <div
            class="text-red-500"
            *ngIf="
              registerForm.get('password')?.hasError('required') &&
              registerForm.get('password')?.touched
            "
          >
            La contraseña del usuario es obligatorio.
          </div>
        </div>

        <div class="flex flex-col pt-4">
          <label for="confirm-password" class="text-lg"
            >Confirmar Contraseña</label
          >
          <input
            type="password"
            id="confirm-password"
            formControlName="passwordvalited"
            placeholder="Contraseña"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 mt-1 leading-tight focus:outline-none focus:shadow-outline"
          />
          <div
            class="text-red-500"
            *ngIf="
              registerForm.get('passwordvalited')?.hasError('required') &&
              registerForm.get('passwordvalited')?.touched
            "
          >
            La contraseña del usuario es obligatorio.
          </div>
          <div
            class="text-red-500 mt-2"
            *ngIf="
              registerForm.hasError('passwordMismatch') &&
              registerForm.get('passwordvalited')?.touched
            "
          >
            Las contraseñas no coinciden.
          </div>
        </div>

        <input
          type="submit"
          [disabled]="registerForm.invalid"
          value="Regístrese"
          class="bg-blue-500 cursor-pointer text-white font-bold text-lg rounded-full py-2 px-4 hover:bg-blue-700 mt-8"
        />
      </form>
      <div class="text-center pt-12 pb-12">
        <p>
          ¿Ya tienes una cuenta?

          <a
            routerLink="/Auth/login"
            class="text-primary underline font-semibold"
            >Inicia sesión aquí.</a
          >
        </p>
      </div>
    </div>
  </div>

  <div class="w-1/2 shadow-2xl">
    <img
      class="object-cover w-full h-screen hidden md:block"
      src="https://cdn.pixabay.com/photo/2024/07/06/10/04/ai-generated-8876509_640.png"
      alt="Background"
    />
  </div>
</div>
<app-notifications
  [statusnotification]="statusnotification"
  [title]="notificationTitle"
  [message]="notificationMessage"
  [type]="notificationType"
></app-notifications>
