<div class="h-screen w-screen flex justify-center items-center flex-col gap-12">
  <img class="h-64" src="../../../../../assets/images/logo/logo.svg" />
  <div class="flex items-center justify-center space-x-2 animate-bounce">
    <div class="flex flex-row gap-7">
      <div class="w-7 h-7 rounded-full bg-blue-700 animate-bounce"></div>
      <div
        class="w-7 h-7 rounded-full bg-blue-700 animate-bounce [animation-delay:-.3s]"
      ></div>
      <div
        class="w-7 h-7 rounded-full bg-blue-700 animate-bounce [animation-delay:-.5s]"
      ></div>
    </div>
  </div>
</div>
