<div
  role="alert"
  class="fixed top-4 right-4 sm:right-6 lg:right-8 flex w-full max-w-xs sm:max-w-sm lg:max-w-md px-4 py-4 text-base shadow-lg border rounded-lg text-black"
  *ngIf="statusnotification"
  [ngClass]="{
    ' bg-green-100 ': type === 'success',
    'bg-red-100': type !== 'success'
  }"
>
  <div class="shrink-0">
    <svg
      *ngIf="type === 'success'"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 24 24"
      fill="currentColor"
      class="w-6 h-6 text-green-600"
    >
      <path
        fill-rule="evenodd"
        d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12zm13.36-1.814a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z"
        clip-rule="evenodd"
      ></path>
    </svg>

    <svg
      *ngIf="type === 'logout'"
      class="h-7 w-7 text-red-500"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1"
      />
    </svg>

    <svg
      *ngIf="type === 'error'"
      class="h-7 w-7 text-red-500"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M10 14l2-2m0 0l2-2m-2 2l-2-2m2 2l2 2m7-2a9 9 0 11-18 0 9 9 0 0118 0z"
      />
    </svg>
  </div>
  <div class="ml-3 mr-12">
    <h5
      class="block text-sm md:text-lg font-semibold"
      [ngClass]="{
        'text-green-700': type === 'success',
        'text-red-900': type !== 'success'
      }"
    >
      {{ title }}
    </h5>
    <p class="block mt-2 text-xs md:text-sm font-normal leading-relaxed">
      {{ message }}
    </p>
  </div>
</div>
